<!-- About section starts here -->
  <section class="about">
    <div class="container">
      <section class="about-container">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <div class="heading-title">
                <h4>About Us</h4>
              </div>
              <div class="heading-sub-title">
                <h2>We are disrupting digital experiences</h2>
              </div>
              <div class="description">
                <p>We are specialists in integrating enterprise assets that reinforce your digital imperatives.</p>
              </div>
              <button class="btn-base btn-primary" type="button"> Who We Are </button>
            </div>
            <div class="col-lg-8">
              <div class="about-asset-sec">
                <div class="text-end">
                <%= image_tag theme_asset_path("images/home-bg-03.jpg"), :title=> "About Us" %>

                </div>
                <div class="about-next-img">
                  <%= image_tag theme_asset_path("images/home-bg-02.jpg"), :title=> "About Us" %>

                </div>
              </div>
            </div>
          </div>
        </div>

      </section>
    </div>
  </section>
  <!-- About section ends here -->

  <!-- Quote section starts here -->
  <div class="quote">
    <div class="container">
      <section class="quote-container">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 text-center">
              <div class="quote-title">
                <h4>ASSESSMENT</h4>
              </div>
              <div class="quote-sub-title">
                <h2>How We Drive Business?</h2>
              </div>
              <div class="description">
                <p>We bring the right breadth of services that drives impact by unlocking next-gen analytics to transform<br /> your business operations.
                </p>
              </div>
            </div>
          </div>
        </div>

      </section>
    </div>
  </div>

  <!-- Quote section ends here -->

  <!-- Assessment section starts here -->
  <div class="assessment-section">
    <div class="container">
      <section class="assessment-container">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6">
            <div class="assessment-box">
              <div class="assessment-box-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                </svg>
              </div>

              <div class="assessment-box-content">
                <h5 class="assessment-box-title">Salesforce Development</h5>
                <p class="assessment-box-description description">
                  Reimagining the business process and maximising investment returns through Salesforce platform.
                </p>
                <div class="assessment-footer text-end">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                  </svg>
                </div>
              </div>
            </div>
            </div>

            <div class="col-lg-4 col-md-6">
            <div class="assessment-box">
              <div class="assessment-box-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                </svg>
              </div>

              <div class="assessment-box-content">
                <h5 class="assessment-box-title">ROR Development</h5>
                <p class="assessment-box-description description">
                  We are rescuing applications that are not meant to go off the rails. Let’s get you your business back on track.
                </p>
                <div class="assessment-footer text-end">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                  </svg>
                </div>
              </div>
            </div>
            </div>

            <div class="col-lg-4 col-md-6">
            <div class="assessment-box">
              <div class="assessment-box-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                </svg>
              </div>

              <div class="assessment-box-content">
                <h5 class="assessment-box-title">React JS Development</h5>
                <p class="assessment-box-description description">
                  We speed up the client facing apps with new & upcoming innovation for your business to grow exponentially.
                </p>
                <div class="assessment-footer text-end">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                  </svg>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>

      </section>
    </div>
  </div>
  <!-- Assessment section ends here -->

  <!-- Quote section starts here -->
  <div class="quote">
    <div class="container">
      <section class="quote-container">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 text-center">
            <!--  <div class="quote-title">
                <h4>ASSESSMENT</h4>
              </div> -->
              <div class="quote-sub-title">
                <h2>What we do?</h2>
              </div>
              <div class="description">
                <p>We bring the right people together to challenge established thinking and drive<br /> transformation.</p>
              </div>
            </div>
          </div>
        </div>

      </section>
    </div>
  </div>

  <!-- Quote section ends here -->

  <!-- Home service section starts here -->
  <section class="home-service">
    <div class="container">
      <section class="home-service-container">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <div class="home-service-box">
                <div class="home-service-box__front">
                  <h4 class="home-service-box__title">Financial Services</h4>
                  <div class="description">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In massa ligula, placerat ut scelerisque convallis,</p>
                </div>
                </div>
              </div>

              <div class="home-service-box">
                <div class="home-service-box__front">
                  <h4 class="home-service-box__title">Energy & Environment</h4>
                  <div class="description">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In massa ligula, placerat ut scelerisque convallis,</p>
                </div>
                </div>
              </div>

              <div class="home-service-box">
                <div class="home-service-box__front">
                  <h4 class="home-service-box__title">Financial Institutions</h4>
                  <div class="description">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In massa ligula, placerat ut scelerisque convallis,</p>
                </div>
                </div>
              </div>
            </div>
            <div class="col-lg-8">
            <div class="home-service-asset-sec">
              <div class="text-center">
              <%= image_tag theme_asset_path("images/home-bg-05.jpg"), :title=> "service" %>

              </div>
              <div class="home-service-next-img">
                <%= image_tag theme_asset_path("images/home-bg-04.jpg"), :title=> "service-next" %>

              </div>
            </div>
            </div>

          </div>
        </div>

      </section>
    </div>
  </section>
  <!-- Home service section ends here -->

  <!-- Media section starts here -->
  <div class="media">
    <div class="container">
      <section class="media-container">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <div style="height: 100%;" class="media-overlay">
                <iframe width="420" height="315"
                src="https://www.youtube.com/embed/mL7g-D9bH88?feature=oembed&start&end&wmode=opaque&autoplay=0&loop=0&controls=1&mute=0&rel=0&modestbranding=0" style="width: 100%;height: 100%;">
                </iframe>

              </div>
              <div class="media-overlay-img">

              </div>
            </div>
            <div class="col-lg-4 p-5">
              <div class="quote-title">
                <h4>OUR TEAM</h4>
              </div>
              <div class="quote-sub-title">
                <h2>Multiskilled team of experts</h2>
              </div>
              <div class="description">
                <p>Building solutions that support, modernise and automate business applications for our clients to grow and lead.</p>
              </div>
            </div>

          </div>
        </div>

      </section>
    </div>
  </div>
  <!-- Media section ends here -->

  <!-- Testimonial section starts here -->
  <section class="testimonial">
    <div class="container-fluid">
      <section class="testimonial-container">
        <div class="">
          <div class="row">
            <div class="col-sm-12">
              <div id="testimonial" class="carousel slide" data-bs-ride="carousel">

                <!-- Indicators/dots -->
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#testimonial" data-bs-slide-to="0" class="active"></button>
                  <button type="button" data-bs-target="#testimonial" data-bs-slide-to="1"></button>
                  <button type="button" data-bs-target="#testimonial" data-bs-slide-to="2"></button>
                </div>

                <!-- The slideshow/carousel -->
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="row">
                      <div class="col-lg-4 col-md-12 text-center">
                        <div class="testimonial__item">
                          <div class="testimonial__inner">
                            <div class="testimonial__figure">
                              <img src="https://jupiterx.artbees.net/accountant/wp-content/uploads/sites/443/2020/06/team-01.jpg" alt="Testimonial">
                            </div>
                            <div class="testimonial__name">
                              Jane Bill
                            </div>
                            <div class="description">
                              “Lorem ipsum dolor sit amet, consectetur adipiscing elit. In massa ligula, placerat ut scelerisque convallis, aliquam vel sem. Vivamus feugiat.”
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-12 text-center">
                        <div class="testimonial__item">
                          <div class="testimonial__inner">
                            <div class="testimonial__figure">
                              <img src="https://jupiterx.artbees.net/accountant/wp-content/uploads/sites/443/2020/06/team-01.jpg" alt="Testimonial">
                            </div>
                            <div class="testimonial__name">
                              Jane Bill
                            </div>
                            <div class="description">
                              “Lorem ipsum dolor sit amet, consectetur adipiscing elit. In massa ligula, placerat ut scelerisque convallis, aliquam vel sem. Vivamus feugiat.”
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-12 text-center">
                        <div class="testimonial__item">
                          <div class="testimonial__inner">
                            <div class="testimonial__figure">
                              <img src="https://jupiterx.artbees.net/accountant/wp-content/uploads/sites/443/2020/06/team-01.jpg" alt="Testimonial">
                            </div>
                            <div class="testimonial__name">
                              Jane Bill
                            </div>
                            <div class="description">
                              “Lorem ipsum dolor sit amet, consectetur adipiscing elit. In massa ligula, placerat ut scelerisque convallis, aliquam vel sem. Vivamus feugiat.”
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="carousel-item">
                    <div class="row">
                      <div class="col-lg-4 col-md-12 text-center">
                        <div class="testimonial__item">
                          <div class="testimonial__inner">
                            <div class="testimonial__figure">
                              <img src="https://jupiterx.artbees.net/accountant/wp-content/uploads/sites/443/2020/06/team-01.jpg" alt="Testimonial">
                            </div>
                            <div class="testimonial__name">
                              Jane Bill
                            </div>
                            <div class="description">
                              “Lorem ipsum dolor sit amet, consectetur adipiscing elit. In massa ligula, placerat ut scelerisque convallis, aliquam vel sem. Vivamus feugiat.”
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-12 text-center">
                        <div class="testimonial__item">
                          <div class="testimonial__inner">
                            <div class="testimonial__figure">
                              <img src="https://jupiterx.artbees.net/accountant/wp-content/uploads/sites/443/2020/06/team-01.jpg" alt="Testimonial">
                            </div>
                            <div class="testimonial__name">
                              Jane Bill
                            </div>
                            <div class="description">
                              “Lorem ipsum dolor sit amet, consectetur adipiscing elit. In massa ligula, placerat ut scelerisque convallis, aliquam vel sem. Vivamus feugiat.”
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-12 text-center">
                        <div class="testimonial__item">
                          <div class="testimonial__inner">
                            <div class="testimonial__figure">
                              <img src="https://jupiterx.artbees.net/accountant/wp-content/uploads/sites/443/2020/06/team-01.jpg" alt="Testimonial">
                            </div>
                            <div class="testimonial__name">
                              Jane Bill
                            </div>
                            <div class="description">
                              “Lorem ipsum dolor sit amet, consectetur adipiscing elit. In massa ligula, placerat ut scelerisque convallis, aliquam vel sem. Vivamus feugiat.”
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="carousel-item">
                    <div class="row">
                      <div class="col-lg-4 col-md-12 text-center">
                        <div class="testimonial__item">
                          <div class="testimonial__inner">
                            <div class="testimonial__figure">
                              <img src="https://jupiterx.artbees.net/accountant/wp-content/uploads/sites/443/2020/06/team-01.jpg" alt="Testimonial">
                            </div>
                            <div class="testimonial__name">
                              Jane Bill
                            </div>
                            <div class="description">
                              “Lorem ipsum dolor sit amet, consectetur adipiscing elit. In massa ligula, placerat ut scelerisque convallis, aliquam vel sem. Vivamus feugiat.”
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-12 text-center">
                        <div class="testimonial__item">
                          <div class="testimonial__inner">
                            <div class="testimonial__figure">
                              <img src="https://jupiterx.artbees.net/accountant/wp-content/uploads/sites/443/2020/06/team-01.jpg" alt="Testimonial">
                            </div>
                            <div class="testimonial__name">
                              Jane Bill
                            </div>
                            <div class="description">
                              “Lorem ipsum dolor sit amet, consectetur adipiscing elit. In massa ligula, placerat ut scelerisque convallis, aliquam vel sem. Vivamus feugiat.”
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-12 text-center">
                        <div class="testimonial__item">
                          <div class="testimonial__inner">
                            <div class="testimonial__figure">
                              <img src="https://jupiterx.artbees.net/accountant/wp-content/uploads/sites/443/2020/06/team-01.jpg" alt="Testimonial">
                            </div>
                            <div class="testimonial__name">
                              Jane Bill
                            </div>
                            <div class="description">
                              “Lorem ipsum dolor sit amet, consectetur adipiscing elit. In massa ligula, placerat ut scelerisque convallis, aliquam vel sem. Vivamus feugiat.”
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Left and right controls/icons -->
                <button class="carousel-control-prev" type="button" data-bs-target="#testimonial" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#testimonial" data-bs-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </button>
              </div>

            </div>


          </div>
        </div>

      </section>
    </div>
  </section>
  <!-- Testimonial section ends here -->

  <!-- Quote section starts here -->
  <section class="quote">
    <div class="container">
      <section class="quote-container">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 text-center">
            <!--  <div class="quote-title">
                <h4>ASSESSMENT</h4>
              </div> -->
              <div class="quote-sub-title">
                <h2>Our Blog</h2>
              </div>
              <div class="description">
                <p>We bring the right people together to challenge established thinking and drive<br /> transformation.</p>
              </div>
            </div>
          </div>
        </div>

      </section>
    </div>
  </section>

  <!-- Quote section ends here -->

  <!-- Feedback section starts here -->
  <section class="feedback">
    <div class="container">
      <section class="quote-container">
        <div class="container">
          <div class="row">
            <div class="col-sm-5 bg-white p-0">
            <div class="feedback-container">
              <div class="text-center">
                <div class="quote-sub-title">
                <h2>We'd love to hear from you</h2>
                </div>
                <div class="description">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In massa ligula, placerat ut scelerisque convallis.</p>
                </div>
              </div>

              <div>
                <form>
                  <div class="form-group">
                    <input type="text" class="form-control input-custom" id="name" aria-describedby="name" placeholder="Name">
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control input-custom" id="" aria-describedby="email" placeholder="Email Address">
                  </div>
                  <div class="form-group">
                      <textarea class="form-control rounded-0 custom-txt-area" id="exampleFormControlTextarea2" rows="3" placeholder="Message"></textarea>
                    </div>
                  <div class="text-center">
                    <button type="submit" class="btn-base btn-primary">Send Message</button>
                  </div>

                </form>
              </div>
            </div>
            </div>
          </div>
        </div>

      </section>
    </div>
  </section>

  <!-- Feedback section ends here -->
