<!-- About section starts here -->
<div>
  <div class="container">
    <section class="about-container">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="heading-title">
              <h4>About Us</h4>
            </div>
            <div class="heading-sub-title">
              <h2>We Are <br />Shaping The<br /> Future</h2>
            </div>
             <div class="description">
              <p>We bring the right people together to challenge established thinking and drive transformation.</p>
            </div>
            <button class="btn-base btn-primary" type="button"> Detail More </button>
          </div>
          <div class="col-sm-8">
            <div class="about-asset-sec">
              <div class="text-end">
                <img src="http://versionone.oaktreecloud.com/wp-content/uploads/2020/06/home-bg-03.jpg" alt="About Us">
              </div>
              <div class="about-next-img">
                <img src="http://versionone.oaktreecloud.com/wp-content/uploads/2020/06/home-bg-02.jpg" alt="About Us">
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </section>
  </div>
</div>
<!-- About section ends here -->
