.H1DesktopGreen {
  font-family: Boxout02;
  font-size: 54px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  color: #008067;
}

.H1DesktopBlack {
  font-family: Boxout02;
  font-size: 54px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  color: #1a282c;
}

.H1DesktopWhite {
  font-family: Boxout02;
  font-size: 54px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  color: #f6f6f6;
}

.H2Desktop {
  font-family: Boxout02;
  font-size: 36px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
}

.H2DesktopGreen {
  font-family: Boxout02;
  font-size: 36px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  color: #008067;
}

.H2DesktopWhite {
  font-family: Boxout02;
  font-size: 36px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  color: #ffffff;
}

.H3Desktop {
  font-family: Boxout02;
  font-size: 30px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: normal;
}

.H3BlackDesktop {
  font-family: Boxout02;
  font-size: 30px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: normal;
  color: #1a282c;
}

.sliderHeading {
  font-size: 33px;
  font-weight: bold;
}

.mainHeading {
  font-size: 44px;
  font-weight: bold;
  line-height: 1;
}

.subHeading {
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #FA4612;
}

.txtDescription {
  font-size: 18px;
  color: #748494;
  line-height: 1.5;
  padding: 0px 0px 30px 0px;
}

.boxHeading {
  font-weight: 500;
  line-height: 1.2;
  font-size: 23px;
  color: #0d6efd;
  padding: 0px 0px 15px 0px;
  margin: 0px 0px 0px 0px;
}

.miniHeading {
  color: #FA4612;
  font-size: 14px;
  font-weight: 500;
}

.H3WhiteDesktop {
  font-family: Boxout02;
  font-size: 30px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: normal;
  color: #ffffff;
}

.H5DesktopGreen {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #008067;
}

.H5DesktopGrey {
  font-family: Inter;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #748494;
}

.H5DesktopBlack {
  font-family: Inter;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #1a282c;
}

.H4DesktopWhite {
  font-family: Boxout02;
  font-size: 21px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.52;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.H4DesktopBlack {
  font-family: Boxout02;
  font-size: 21px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.52;
  letter-spacing: normal;
  color: #1a282c;
}

.H6Desktop {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
}

.H6DesktopGrey {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #748494;
}

.H6DesktopBlack {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #1a282c;
}

.H6DesktopGreen {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #008067;
}

.H6DesktopWhite {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #ffffff;
}

.BodyLargeWhite {
  font-family: Inter;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #ffffff;
}

.BodyDefault {
  font-family: Inter;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

.BodyDefaultBold {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

.BodyDefaultBoldGrey {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #748494;
}

.BodyDefaultBoldWhite {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #ffffff;
}

.BodyDefaultBoldBlack {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #1a282c;
}

.BodyDefaultRegularGrey {
  font-family: Inter;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #748494;
}

.BodyDefaultRegularBlack {
  font-family: Inter;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #1a282c;
}

.BodySmallMediumGrey {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #748494;
}

.BodySmallMediumWhite {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #ffffff;
}

.BodySmallMediumBlack {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #1a282c;
}

.BodySmallMedium {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
}

.CTA {
  font-family: Hatch;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.14;
  letter-spacing: 0.5px;
}

.CTABlue {
  font-family: Hatch;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.14;
  letter-spacing: 0.5px;
  color: #3035ff;
}

.CTAGrey {
  font-family: Hatch;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.14;
  letter-spacing: 0.5px;
  color: #737373;
}

.CTAGreen {
  font-family: Hatch;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.14;
  letter-spacing: 0.5px;
  color: #008067;
}

.CTABlack {
  font-family: Hatch;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.14;
  letter-spacing: 0.5px;
  color: #1a282c;
}

.CTARed {
  font-family: Hatch;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.14;
  letter-spacing: 0.5px;
  color: #ff542d;
}

.CTAWhite {
  font-family: Hatch;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.14;
  letter-spacing: 0.5px;
  color: #ffffff;
}

.CTAYellow {
  font-family: Hatch;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.14;
  letter-spacing: 0.5px;
  color: #ffcd00;
}

.BodySmallRegular {
  font-family: Inter;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
}

.BodySmallRegularWhite {
  font-family: Inter;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #ffffff;
}

.BodySmallRegularGrey {
  font-family: Inter;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #737373;
}

.BodySmallRegularGreen {
  font-family: Inter;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #008067;
}

.BodySmallRegularBlack {
  font-family: Inter;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #1a282c;
}

.LabelGrey {
  font-family: Inter;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #737373;
}

.LabelWhite {
  font-family: Inter;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #ffffff;
}

.EyebrowBlack {
  font-family: Inter;
  font-size: 10px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: 0.75px;
  color: #1a282c;
  text-transform: uppercase;
}

.EyebrowWhite {
  font-family: Inter;
  font-size: 10px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: 0.75px;
  color: #ffffff;
  text-transform: uppercase;
}

.EyebrowGreen {
  font-family: Inter;
  font-size: 10px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: 0.75px;
  color: #008067;
  text-transform: uppercase;
}

.EyebrowGrey {
  font-family: Inter;
  font-size: 10px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: 0.75px;
  color: #737373;
  text-transform: uppercase;
}
/*# sourceMappingURL=typography.css.map */