<!-- Footer section starts here -->
<section>
  <footer>
    <div class="container">
      <div>
        <div class="row">
          <div class="col-sm-4">
            <div class="pb-5">
              <h4>Other Links</h4>
            </div>
            <div>
              <ul>
                <li><a href="">Blogs</a></li>
                <li><a href="">Whitepapers</a></li>
                <li><a href="">Case Studies</a></li>
                <li><a href="">Mission & Vision</a></li>
                <li><a href="">Client Testimonial</a></li>
                <li><a href="">OakTreeSoftware USP</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="pb-5">
              <h4>Contact</h4>
            </div>
            <div>
              <ul>
                <li>
                  Shekhar Central,<br /> 8th, Floor, 802, Palasia Square,<br /> Manorama Ganj, Indore,<br /> Madhya Pradesh 452001
                </li>
                <li><a href="mailto:hr@oaktreecloud.com%20">hr@oaktreecloud.com</a></li>
                <li><a href="tel:+91%2007314991873">+91 07314991873</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="pb-5">
              <h4>Oak Tree Software</h4>
            </div>
            <div>
              <ul>
                <li>
                  Shekhar Central,<br /> 8th, Floor, 802, Palasia Square,<br /> Manorama Ganj, Indore,<br /> Madhya Pradesh 452001
                </li>
                <li>
                  Oaktreesoftware is a well-known brand,<br /> popular for offering robust and scalable<br /> Salesforce and web development<br /> solutions. We provide quality web<br /> solutions and salesforce<br /> implementation services to small,<br /> medium as well as large enterprises.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</section>
<!-- Footer section ends here -->